<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Worldline_RecurringPayments" setup_version="1.14.0">
        <sequence>
            <module name="Worldline_CreditCard"/>
            <module name="Worldline_RedirectPayment"/>
            <module name="Amasty_RecurringPayments"/>
        </sequence>
    </module>
</config>
