//
//  Worldline Recurring Payments Email Templates
//  ____________________________________________
@button__background-color: #008236;
@button__background-color-hover: #036f30;
@button__color: #fff;

.amrec-text-container {
    .amrec-message.-link {
        text-align: center;
    }

    .wlrec-linkbutton {
        background-color: @button__background-color;
        border-radius: 7px;
        color: @button__color;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        padding: 10px;
        text-decoration: none !important;
        transition: background-color .3s ease-in;
    }

    .wlrec-linkbutton:hover {
        background-color: @button__background-color-hover !important;
        text-decoration: none !important;
    }

    .wlrec-linkbutton:visited {
        color: @button__color !important;
    }
}
