<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amasty_recurring_payments">
            <group id="worldline" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Worldline</label>
                <field id="attempts_to_withdraw" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Number of Attempts to Withdraw Failed Payments</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="frequency" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Frequency of Attempts</label>
                    <source_model>Worldline\RecurringPayments\Model\Config\Source\FrequencyOfAttempts</source_model>
                    <comment>This setting will define the frequency with which the money is attempted to be withdrawn from the account in case of a failed payment</comment>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="limits_notification_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notify Customers on WorldLine Pay Limits</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limits_notification_message" type="textarea" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notification Message</label>
                    <comment><![CDATA[Please use the tag {{amount-currency}} in order to display within your explanatory text the limit allowed for recurring payments.]]></comment>
                    <depends>
                        <field id="limits_notification_enabled">1</field>
                    </depends>
                </field>
                <field id="limit_base_amount" type="text" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Limit Amount in Base Currency</label>
                    <depends>
                        <field id="limits_notification_enabled">1</field>
                    </depends>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
